In [2]:
import pandas as pd
import numpy as np

In [5]:
dataFrame = pd.read_excel("Maas.xlsx")

In [7]:
dataFrame

  Unnamed: 0  Maas   Yas Departman
0       Atıl   100  40.0   Yazılım
1      Zeyne   150  30.0     Satış
2     Mehmet   200  50.0       NaN
3      Ahmet    50  10.0     Hukuk
4      Atlas   150   NaN    Finans
5      Fatma   200  25.0       NaN

In [8]:
doluDegerlerDF = dataFrame.dropna()

In [9]:
doluDegerlerDF

  Unnamed: 0  Maas   Yas Departman
0       Atıl   100  40.0   Yazılım
1      Zeyne   150  30.0     Satış
3      Ahmet    50  10.0     Hukuk

In [10]:
doluDegerlerDF.to_excel("yeniMaas.xlsx")

## CSV Verilerl için read_csv ve to_csv methodları kullanılır.